@import "../resets.css";
@import "../roots.css";
/* compositions */
/* utilities */
.container {
	max-width: 95%;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.gap-2 {
	gap: 2rem;
}
/* block */
.main__header {
	text-align: center;
}

/* exception */
