@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Buttons  */
	.btn {
		@apply flex items-center justify-center text-center border-solid;
	}

	.btn-header {
		@apply font-heading-font border-border-translucent-black bg-neutral rounded-full border-1 h-5 w-16 text-white p-0 text-xs transition-colors shadow-xs;
	}

	.btn-header-active {
		@apply font-heading-font border-border-translucent-black bg-accent rounded-full border-1 h-5 w-16 text-white p-0 text-xs transition-colors shadow-xs;
	}

	.btn-card-footer {
		@apply bg-accent px-2 py-1 rounded-xl;
	}

	/* Cards */

	.card {
		@apply shadow-card px-4 py-4 col-span-1 mb-8;
	}

	.card-split-title {
		@apply shadow-card pr-3 col-span-1 mb-8;
	}

	.card-body-single-column {
		@apply flex flex-col;
	}

	.card-header {
		@apply font-heading-font text-accent text-2xl;
	}

	.project-card {
		@apply shadow-projectcard relative overflow-hidden flex flex-col col-span-1 gap-4 pb-4 justify-center items-center bg-primary rounded-xl;
	}

	.project-card-body {
		@apply flex flex-col w-full px-4 gap-4 items-start;
	}

	.project-card-stats {
		@apply flex flex-col gap-2 justify-center items-start;
	}

	.project-card-footer {
		@apply flex justify-between items-end w-full;
	}

	.blog-card {
		@apply shadow-xs flex flex-col gap-2 justify-center items-center bg-primary rounded-md shadow-projectcard;
	}

	.blog-card-body {
		@apply flex flex-col gap-4 py-4 px-8;
	}

	/* Utilities */

	.main-section {
		@apply grid grid-cols-1 px-6;
	}

	.row {
		@apply flex justify-between items-center rounded-md px-4 py-1;
	}

	.statistic-row {
		@apply flex justify-between items-center bg-primary text-white rounded-md px-4 py-1 font-heading-font;
	}

	.card-holder {
		@apply flex flex-col gap-10;
	}

	.section-banner {
		@apply w-full p-2 bg-primary relative overflow-hidden mt-10 mb-10;
	}
}

.circles li {
	opacity: 0;
	scale: 0;
	border-radius: 100%;
	animation: bubbles linear;
	animation-iteration-count: infinite;
	z-index: 1;
}

@keyframes bubbles {
	from {
		opacity: 0;
		scale: 0;
		transform-origin: bottom;
	}

	50% {
		opacity: 0.5;
		scale: 1;
		transform-origin: top;
	}

	to {
		opacity: 0;
		scale: 2;
		transform-origin: bottom;
	}
}
